@let isOverlayVisible = this.isOverlayVisibleSignal();

<div class="h-dvh scrollbar-gutter-both overflow-y-auto">
  <div class="flex justify-center">
    <div class="flex w-full max-w-4xl flex-col gap-8 p-8">
      <h1 class="text-center font-medium">@m0t0k1ch1/ngx playground</h1>
      <div class="flex flex-col gap-4">
        <div class="panel">
          <h2>Badge</h2>
          <div class="flex justify-center">
            <div
              xBadge
              xBadgeBorderWidth="2px"
              xBadgeFontWeight="bold"
              xBadgeTranslate="25% -25%"
              [xBadgeValue]="1"
              class="flex items-center"
            >
              <ng-icon name="heroBell" size="1.5rem" />
            </div>
          </div>
        </div>
        <div class="panel">
          <h2>Loader</h2>
          <div class="flex justify-center">
            <x-loader />
          </div>
        </div>
        <div class="panel">
          <h2>Overlay</h2>
          <div class="flex justify-center">
            <button xRipple class="gray" (click)="onShowOverlayButtonClicked()">Show</button>
          </div>
        </div>
        <div class="panel">
          <h2>TextInput</h2>
          <form [formRoot]="form">
            <div class="flex flex-col gap-4">
              <div class="flex justify-center">
                <div class="flex w-64 flex-col gap-1">
                  <input type="text" xTextInput [formField]="form.name" placeholder="Name *" />
                  @if (form.name().touched() && form.name().invalid()) {
                    <div class="flex flex-col pl-1">
                      @for (error of form.name().errors(); track $index) {
                        <span class="text-sm text-red-500">{{ error.message }}</span>
                      }
                    </div>
                  }
                </div>
              </div>
              <div class="flex justify-center">
                <div class="flex w-64 flex-col gap-1">
                  <textarea
                    xTextInput
                    [formField]="form.profile"
                    placeholder="Profile *"
                    class="h-32 resize-none"
                  ></textarea>
                  @if (form.profile().touched() && form.profile().invalid()) {
                    <div class="flex flex-col pl-1">
                      @for (error of form.profile().errors(); track $index) {
                        <span class="text-sm text-red-500">{{ error.message }}</span>
                      }
                    </div>
                  }
                </div>
              </div>
              <div class="flex justify-center">
                <button type="submit" xRipple class="gray">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <div class="panel">
          <h2>Toast</h2>
          <div class="flex flex-col items-center gap-2">
            <button xRipple class="green" (click)="onAddSuccessToastButtonClicked()">
              Add SUCCESS
            </button>
            <button xRipple class="red" (click)="onAddErrorToastButtonClicked()">Add ERROR</button>
          </div>
        </div>
      </div>
      <span class="text-center text-gray-300">{{ userAgent }}</span>
    </div>
  </div>
</div>

<x-overlay [isVisible]="isOverlayVisible" (click)="onOverlayClicked()">
  <div class="flex flex-col">
    @for (text of ['Tap anywhere', 'to hide overlay']; track $index) {
      <span class="text-center text-white">{{ text }}</span>
    }
  </div>
</x-overlay>

<div class="fixed top-0 z-40 flex w-dvw justify-center">
  <div class="w-full max-w-4xl">
    <x-toast-container [id]="topToastContainerID" />
  </div>
</div>

<div class="fixed bottom-0 z-50 flex w-dvw justify-center">
  <div class="w-full max-w-4xl">
    <x-toast-container [id]="bottomToastContainerID" />
  </div>
</div>
