@import '@fontsource-variable/outfit';
@import 'tailwindcss';

@theme {
  --font-outfit: 'Outfit Variable', sans-serif;
}

button.gray,
button.green,
button.red {
  @apply h-8 w-40 cursor-pointer touch-manipulation rounded-md text-sm transition select-none;
  @apply active:scale-[0.95];
}

button.gray {
  @apply bg-gray-500 text-white;
  --x-ripple-color: rgba(255, 255, 255, 0.3);
}

button.green {
  @apply bg-green-500 text-white;
  --x-ripple-color: rgba(255, 255, 255, 0.3);
}

button.red {
  @apply bg-red-500 text-white;
  --x-ripple-color: rgba(255, 255, 255, 0.3);
}
